name: Go Build with Taskfile

on:
  workflow_dispatch:
  push:
    branches: 
      - "main"
  pull_request:
    branches:
      - "main"
  schedule:
    - cron: "0 3 * * 0"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.0
          check-latest: true

      - name: Restore Task from cache
        id: cache-task
        uses: actions/cache@v4
        with:
          path: ./bin/task
          key: task-bin

      - name: Install Task (if not cached)
        if: steps.cache-task.outputs.cache-hit != 'true'
        run: curl -sL https://taskfile.dev/install.sh | bash

      - name: Show Go Version
        run: go version

      - name: Run Tests
        run: ./bin/task test

      - name: Build
        run: ./bin/task build
