name: Go Build with Taskfile

on:
  workflow_dispatch:
  push:
    branches: 
      - "main"
  pull_request:
    branches:
      - "main"
  schedule:
    - cron: "0 3 * * 0"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23.0
          check-latest: true

      - name: Install Task
        run: |
          curl -sL https://taskfile.dev/install.sh | sh

      - name: Show Go Version
        run: go version

      - name: Run Taskfile
        run: ./bin/task build
